###################################################################################################
#  AUTOBALANCE OPTIONS
#
#     AutoBalance.XPlayer
#        Set Server to level of solo mode.
#        Set to 0 to Disable SOLO Mod.
#        Example: AutoBalance.XPlayer = 1 will set everything for a 1 player game.
#        Default:     1

AutoBalance.XPlayer = 1

#
#     AutoBalance.AutoInstance
#        Set instances to Auto chance XPlayer depending on players in it.
#        Default:     1 (1 = ON, 0 = OFF)

AutoBalance.AutoInstance = 1

#
#     AutoBalance.Debug
#        0 = None
#        1 = Errors Only
#        2 = Errors and Basic Information
#        3 = All Info
#        Default:     1

AutoBalance.Debug = 0

#
#     AutoBalance.PlayerChangeNotify
#        Set Auto Notifications to all players in Instance that player count has changed.
#        Default:     1 (1 = ON, 0 = OFF)

AutoBalance.PlayerChangeNotify = 1

#
#     AutoBalance.Color
#        In Game Color for mod information in chat window.
#        Default:     cffFF8000 (Orange)

AutoBalance.Color = cffFF8000

#
#     Min.HP.Mod
#        Minimum Modifier setting for Health Modification
#        Default:     0.20

Min.HP.Mod = 0.20

#
#     Min.D.Mod
#        Minimum Modifier setting for Damage Modification
#        Default:     0.10

Min.D.Mod = 0.10

#
#     AutoBalance.XX.Name
#        Sets MobIDs for the group they belong to.
#        All 5 Man Mobs should go in AutoBalance.5.Name
#        All 10 Man Mobs should go in AutoBalance.10.Name etc.

AutoBalance.40.Name = "11583,16441,30057,13020,15589,14435,18192,14889,14888,14887,14890,15302,15818,15742,15741,15740,18338"
AutoBalance.25.Name = "22997,21966,21965,21964,21806,21215,21845,19728,12397,17711,18256,18192,"
AutoBalance.10.Name = "15689,15550,16152,17521,17225,16028,29324,31099"
AutoBalance.5.Name = "15203,15204,15205,15305,6109,26801,30508,26799,30495,26803,30497,27859,27249"
AutoBalance.2.Name = "25549,24558,25574,24559,25556,25557,25578,24561,25555,24555,25541,24553,25550,24554,24552,25564,15931,29373"

#
###################################################################################################
